/*========================================

    Colours
    _________________

	Where we store all global colours, 
	No HEX values should be used in the
	SASS

========================================*/

/*========================================

    Main Brand Colours

========================================*/

$primary: 		#323232;
$secondary: 	#3498db;


/*========================================

    Variations Of the Main Branch Colours

========================================*/

$primaryLightened1: lighten($primary, 60%);
$primaryLightened2: lighten($primary, 75%);

$secondaryDarkened1: darken($secondary, 10%);

/*========================================

    Normal Colours (just in case)

========================================*/

$white: 		#ffffff;
$black: 		#000000;