/*========================================

    Helpers
    _________________

	Small helper classes that should be
	extended in another SASS file on the
	class 

========================================*/

/*========================================

    Global Transition

========================================*/

.transition {
	transition: all 0.2s;
}

/*========================================

    Margin Helpers

========================================*/

/*========================================
    Margin Bottom None
========================================*/

.mbn {
	margin-bottom: 0;
}

/*========================================
    Margin Bottom Mobile
========================================*/

.mbm {
	@include breakpoint(mobile) {
		margin-bottom: spc($margin, mobile, m);
	}
}