@font-face {
	font-family: 'bray';
	src:url('../fonts/bray.eot?od5v37');
	src:url('../fonts/bray.eot?#iefixod5v37') format('embedded-opentype'),
		url('../fonts/bray.ttf?od5v37') format('truetype'),
		url('../fonts/bray.woff?od5v37') format('woff'),
		url('../fonts/bray.svg?od5v37#bray') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin iconFont() {
	font-family: 'bray';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
	@include iconFont;
}

.icon-stack:before {
	content: "\e600";
}
.icon-call:before {
	content: "\e03f";
}
.icon-chevron-right:before {
	content: "\e111";
}
.icon-close:before {
	content: "\e209";
}
