/*========================================

	Useful Mixins
    _________________

	Mixins of all types for site wide use
	
========================================*/

/*========================================

    REM Font Size Calc with C/B fallback

========================================*/

@mixin font-size($sizeValue: 1.6) {
	font-size: $sizeValue + 0px;
	font-size: ($sizeValue / 10) + 0rem;
}

/*========================================

    Cross Browser Opacity

========================================*/

@mixin opacity($trans) {
    filter: alpha(opactiy=($trans * 100));
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
    -moz-opacity: $trans;
    -khtml-opacity: $trans;
    opacity: $trans;
}


@mixin breakpoint($point) {
	@if $point == large-desktop {
		@media (min-width: $screen-lg-min) { @content ; }
	}
	@else if $point == desktop {
		@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)  { @content ; }
	}
	@else if $point == mobile {
		@media (max-width: $screen-xs-max)  { @content ; }
	}
	@else {
		@media (max-width: $point) { @content ; }
	}
}