/*========================================

    Paddings / Margins
    _________________

    Set all your default margins
    and paddings

========================================*/

/*========================================

    Margins

========================================*/

$margin: (
	mobile: (
		s:	15px,
		m:	20px,
		l:	25px,
	),
	tablet: (
		s:	20px,
		m:	30px,
		l:	40px,
	),
	desktop: (
		s:	20px,
		m:	30px,
		l:	40px,
		xl: 60px,
	),
);

/*========================================

    Paddings

========================================*/

$padding: (
	mobile: (
		s:	15px,
		m:	20px,
		l:	25px,
	),
	tablet: (
		s:	20px,
		m:	30px,
		l:	40px,
	),
	desktop: (
		s:	20px,
		m:	30px,
		l:	40px,
		xl: 50px,
	),
);

@function spc($map, $keys...) {
    @each $key in $keys {
    	$map: map-get($map, $key);
    }
    @return $map;
}

