/*========================================

    Typography Styles
    _________________

	Site wide typography, font and link
	styles

========================================*/

$lineHeight: 1.5;
$typoMargin: 0.5;

@mixin headingFont() {
	font-weight: 700;
	line-height: lineHeight + 0em;
	font-family: 'Open Sans', sans-serif;
}
@mixin bodyFont() {
	font-weight: 400;
	@include font-size(14);
	@include breakpoint(mobile) {
		@include font-size(12);
	}
	line-height: lineHeight + 0em;
	font-family: 'Open Sans', sans-serif;
}

p, a, p a, li, li a, {
	@include bodyFont;
	margin: 0 0 ($typoMargin * 2) + 0em;
	&.centeredText {
		text-align: center;
	}
}

h1, h2, h3, h4, h5, h6 {
	@include headingFont;
	margin: 0 0 $typoMargin + 0em;
}

h1 {
	@include font-size(40);
	@include breakpoint(tablet) {
		@include font-size(36);
	}
	@include breakpoint(mobile) {
		@include font-size(32);
	}
}
h2 {
	@include font-size(36);
	@include breakpoint(tablet) {
		@include font-size(32);
	}
	@include breakpoint(mobile) {
		@include font-size(28);
	}
}
h3 {
	@include font-size(32);
	@include breakpoint(tablet) {
		@include font-size(28);
	}
	@include breakpoint(mobile) {
		@include font-size(24);
	}
}
h4 {
	@include font-size(24);
	@include breakpoint(tablet) {
		@include font-size(20);
	}
	@include breakpoint(mobile) {
		@include font-size(18);
	}
}
h5 {
	@include font-size(18);
	@include breakpoint(tablet) {
		@include font-size(16);
	}
	@include breakpoint(mobile) {
		@include font-size(15);
	}
}
h6 {
	@include font-size(12);
	@include breakpoint(tablet) {
		@include font-size(10);
	}
}