/*========================================

    Z-Index Function
    _________________

	For a more organised and modular
	approach to Z-Index

========================================*/

$zIndexLayers: (
	below:						-1,
	default:					1,
	footer:						800,
	header:						1000,
);

@function z($layer) {

	@if not map-has-key($zIndexLayers, $layer) {
		@warn "WOOPS! we didnt find `#{$layer}` in the $zIndexLayers map, try again :)";
	}

	@return map-get($zIndexLayers, $layer);

}
