/*========================================

    Base HTML styles and resets

========================================*/

/*========================================

	Font sizing set up for REMS 
	(1rem = 10px)

========================================*/

html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}

/*========================================

	Box Layout

========================================*/

* {
	box-sizing: border-box;
	*behavior: url("../scripts/boxsizing.htc");
}

/*========================================

	Responsive Image Styles
		
========================================*/

img {
	max-width: 100%;
	height: auto !important;
}