/*========================================

    Button Styles
    _________________
	
	Button styles and variations, Can be
	used for dropdown buttons and selects

========================================*/

.button {
	@extend .transition;
	text-decoration: none;
	&.small {
		padding: 5px 10px;
	}
	&.big {
		padding: 10px spc($padding, desktop, s);
	}
	&.block {
		display: block;
	}
	&.inline {
		display: inline-block;
	}
	&.cta {
		color: $white;
		background: $secondary;
		&:hover {
			background: $secondaryDarkened1;
		}
	}
	&.naked {
		color: $primary;
		border: 2px solid $primaryLightened1;
		&:hover {
			background: $primaryLightened2;
		}
	}
}