/*========================================

    HR Styles
    _________________

    to be used on the HR and any 
    different variations

========================================*/

hr {
	border: 0;
	margin: spc($margin, desktop, s) 0;
	border-bottom: 1px solid $primaryLightened1;
}