/*========================================

    Section Styles
    _________________

    to be used on sections throughout 
    the side EG. Alterative BG 

========================================*/

.altBg {
	background: $primaryLightened2;
	padding: spc($padding, desktop, m);
	&.rounded {
		border-radius: 3px;
	}
}