/*========================================

    Main Layout Styles
    _________________

    to be used on header, footer and
    main content sections

========================================*/

header {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	z-index: z(header);
	background: $secondary;
	border-bottom: 1px solid $white;
	.logo {
		@extend .mbn;
		color: $white;
		display: block;
		@extend .transition;
		@include headingFont;
		text-decoration: none;
		padding: spc($padding, desktop, s) 0;
		&:hover {
			@include opacity(0.8);
		}
	}
	.responsiveMenuButton {
		top: 15px;
		width: 80px;
		right: 10px;
		display: none;
		color: $white;
		position: fixed;
		@extend .button;
		text-align: center;
		@extend .button.small;
		z-index: z(header) + 1;
		border: 2px solid $white;
		@include breakpoint(mobile) {
			display: block;

		}
	}
	nav {
		float: right;
		@include clearfix;
		ul {
			margin: 0;
			list-style: none;
			li {
				@extend .mbn;
				float: left;
				a {
					@extend .mbn;
					color: $white;
					display: block;
					overflow: hidden;
					position: relative;
					@extend .transition;
					text-decoration: none;
					padding: spc($padding, desktop, s);
					&:before {
						content: '';
						left: 50%;
						width: 50%;
						height: 1px;
						bottom: -2px;
						position: absolute;
						background: $white;
						transition: all 0.2s;
						transition-delay: 0.15s;
						transform: translateX(-50%);
					}
					&:hover {
						background: $secondaryDarkened1;
						&:before {
							bottom: 15px;

						}
					}
				}
			}
			@include breakpoint(mobile) {
				top: 0;
				left: -40px;
				display: block;
				padding-top: 60px;
				position: relative;
				@include opacity(0);
				transition: all 0.5s;
				z-index: z(header) + 4;
				width: calc(100% + 40px);
				transform: translateY(-100%);
				li {
					width: 100%;
					display: block;
					a {
						text-align: center;
						@include font-size(30);
						&:before, &:hover:before {
							bottom: 0;
							width: 10%;
						}
						&:hover {
							background: $secondary;
							background: rgba($secondary, 0.7);
						}
					}
				}
			}
		}
		//used on mobile only
		&:before {
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: none;
			position: fixed;
			background: $primary;
			@include opacity(0.9);
			z-index: z(header) + 2;
		}
		.responsiveMenuClose {
			top: 12px;
			right: 20px;
			color: $white;
			position: fixed;
			@extend .icon-close;
			@extend .transition;
			@include font-size(30);
			text-decoration: none;
			z-index: z(header) + 4;
					transition-delay: 0.25s;
			transform: scale(0) rotate(-90deg);
			&:before {
				@include iconFont;
			}
		}
		@include breakpoint(mobile) {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			max-height: 1px;
			position: fixed;
			overflow: hidden;
			z-index: z(header) + 3;
			&.shown {
				max-height: none;
				&:before {
					display: block;
				}
				.responsiveMenuClose {
					transform: scale(1) rotate(0deg);
				}
				ul {
					@include opacity(1);
					transform: translateY(0);
				}
			}
		}
	}
}

main {
	padding: 100px 0 spc($padding, desktop, l);
}

footer {
	background: $primaryLightened2;
	padding: spc($padding, desktop, s) 0;
	p, a {
		@extend .mbn;
		color: $primary;
		@include font-size(12);
	}
	a {
		float: right;
		@extend .transition;
		text-decoration: none;
		&:hover {
			color: $secondary;
		}
	}
}